EXECUTION_BACKEND=ecs
AWS_REGION=us-east-2
ECS_CLUSTER=cloud-compiler-cluster
ECS_RUNNER_TASK_DEFINITION=cloud-compiler-runner
ECS_RUNNER_SUBNET_IDS=subnet-xxxxxxxx,subnet-yyyyyyyy
ECS_RUNNER_SECURITY_GROUP=sg-xxxxxxxx
ECS_RUNNER_CONTAINER_NAME=compiler-runner
ECS_RUNNER_PORT=8001
